*{
    padding: 0;
    margin: 0;
}

#cols{
    
}

#col1{
    width: 50%;
    float: left;
    text-align: right;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#col1 h1{
    font-size: 4em;
    color: whitesmoke;
    padding-right: 10px;
    font-family: "Impact";
}

#col2{
    width: 50%;
    float: right;
    height: 100vh;
     display: flex;
    align-items: center;
}

#cols #col2 img{
    height: 300px;
    width: auto;
    padding-left: 10px;
}